
// Font Family

$heading-font: var(--heading-font);

$body-font: var(--body-font);


// Font Size

$h1-font: 65px;

$h2-font: 46px;

$h3-font: 30px;

$h4-font: 24px;

$h5-font: 18px;

$h6-font: 16px;