
/*========================
    Contact Section  CSS
==========================*/


.renvia-info-item{
    &.style-one{
        display: flex;
        align-items: flex-start;
        & .icon{
            flex: 0 0 auto;
            margin-right: 20px;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            color: $primary-color;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #f8f9f8;
            font-size: 20px;
        }
        & .content{
            & h5{
                font-size: 20px;
                margin-bottom: 10px;
            }
            & p{
                font-size: 18px;
                line-height: 28px;
            }
            & .social-box{
                & a{
                    width: 36px;
                    height: 36px;
                    border-radius: 50%;
                    border: 1px solid $border-color;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    color: $heading-color;
                    &:not(:last-child){
                        margin-right: 5px;
                    }
                    &:hover{
                        background-color: $primary-color;
                        border-color: transparent;
                        color: $white-color;
                    }
                }
            }
        }
    }
    &.style-two{
        display: flex;
        align-items: center;
        & .icon{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 15px;
            flex: 0 0 auto;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border: 1px solid $border-color;
            color: $white-color;
        }
        & .content{
            & span{
                color: $white-color;
                margin-bottom: 5px;
            }
            & h5{
                font-size: $h5-font;
                color: $white-color;
            }
        }
        &.item_one{
            & .icon{
                color: $primary-color;
                border-color: $primary-color;
            }
        }
        &.item_two{
            & .icon{
                border-color: #E4ED64;
                color: #E4ED64;
            }
        }
        &.item_three{
            & .icon{
                border-color: #E2791D;
                color: #E2791D;
            }
        }
    }
    &.style-three{
        display: flex;
        align-items: center;
        & .icon{
            width: 60px;
            height: 60px;
            border-radius: 50%;
            border: 1px solid $border-color;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 20px;
            flex: 0 0 auto;
        }
        & .info{
            & span{
                margin-bottom: 3px;
            }
        }
    }
    &.style-four{
        display: flex;
        align-items: center;
        & .icon{
            width: 44px;
            height: 44px;
            border: 1px solid $border-color;
            border-radius: 6px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 12px;
            flex: 0 0 auto;
        }
        & .info{
            & h6{
                font-family: $body-font;
                font-weight: 700;
            }
            & p{
                margin-bottom: 0;
            }
        }
    }
}

.renvia-info-left-box{
    display: flex;
    align-items: center;
    border: 1px solid $border-color;
    padding: 25px 30px;
    border-radius: 30px;
    @include respond(sm){
        padding: 20px 17px;
    }
    & .icon{
        flex: 0 0 auto;
        width: 70px;
        height: 70px;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $primary-color;
        color: $white-color;
        font-size: 40px;
        margin-right: 30px;
        @include respond(sm){
            font-size: 30px;
        }
    }
    & .content{
        & h5{
            font-size: 20px;
            margin-bottom: 7px;
        }
    }
}

.renvia-contact_one{
    position: relative;
    z-index: 1;
    &:after{
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(28, 28, 37, 0.90);
        z-index: -1;
    }
    & .contact-wrapper{
        background-color: $white-color;
        padding: 50px 60px 60px;
        border-radius: 30px;
        margin-left: 55px;
        @include respond(xl){
            margin-left: 0;
        }
        @include respond(md){
            padding: 30px 30px 40px;
        }
        & p{
            margin-bottom: 30px;
        }
        & .form_control{
            border-radius: 20px;
            margin-bottom: 40px;
            padding: 14px 20px;
            border: 1px solid $border-color;
            color: $heading-color;
            background-color: #f8f8f8;
            &::placeholder{
                color: $heading-color;
            }
        }
        & .theme-btn{
            width: 100%;
        }
    }
}


.renvia-contact_two{
    & .contact-map{
        position: absolute;
        top: 0;
        left: 0;
        width: 60%;
        height: 60%;
        z-index: -1;
    }
    & .renvia-content-box{
        padding-right: 30px;
        & > p{
            margin-bottom: 30px;
        }
        & .map-box{
            & iframe{
                border: 5px solid $white-color;
                border-radius: 30px;
                height: 260px;
            }
        }
    }
    & .contact-form-wrapper{
        background-color: $white-color;
        padding: 40px 40px 50px;
        border-radius: 30px;
        border: 1px solid $border-color;
        @include respond(md){
            padding: 30px 20px 40px;
        }
        & h4{
            margin-bottom: 25px;
        }
        & label{
            font-size: 18px;
            font-family: $heading-font;
            color: $heading-color;
            margin-bottom: 10px;
        }
        & .form_control{
            border-radius: 20px;
            margin-bottom: 20px;
            padding: 11px 20px;
            border: 1px solid $border-color;
        }
    }
}


.renvia-contact_two{
    & .contact-wrapper{
        border-top: 1px solid $border-color;
        padding-top: 50px;
    }
    & .form_control{
        border-radius: 20px;
        margin-bottom: 20px;
        padding: 11px 20px;
        border: 1px solid $border-color;
    }
}

.renvia-contact_three{
    & .contact-wrapper{
        background-color: #f8f9f8;
        padding: 50px 60px 60px;
        border-radius: 30px;
        @include respond(md){
            padding: 20px 20px 30px;
        }
        & h3{
            margin-bottom: 30px;
            text-align: center;
        }
        & label{
            position: absolute;
            top: 15px;
            right: 30px;
        }
        & .form_control{
            border-radius: 20px;
            margin-bottom: 20px;
            padding: 14px 20px;
            border: 1px solid $border-color;
            color: $heading-color;
            &::placeholder{
                color: $heading-color;
            }
        }
    }
}

.contact-map-sec{
    & .map-box {
        & iframe{
            height: 540px;
            width: 100%;
        }
    }
}