
/*======================
    Error Section  CSS
=======================*/

.axis-error-sec{
    & .axis-content-box{
        & .axis-image{
            margin-bottom: 20px;
        }
        & h2{
            font-size: 60px;
            margin-bottom: 30px;
            & span{
                color: $primary-color;
            }
            @include respond(md){
                font-size: 28px;
            }
        }
        & p{
            max-width: 505px;
            margin: 0 auto 40px;
        }
    }
}