
/*======================
    Features Section  CSS
=======================*/




.renvia-iconic-left-box{
    &.style-one{
        display: flex;
        align-items: center;
        & .icon{
            flex: 0 0 45px;
            margin-right: 15px;
        }
        & .content{
            & h5{
                line-height: 28px;
                max-width: 200px;
            }
        }
    }
    &.style-two{
        & .content{
            & .title{
                display: inline-flex;
                align-items: center;
                font-size: $h6-font;
                margin-bottom: 12px;
                & .icon{
                    flex: 0 0 auto;
                    margin-right: 15px;
                    width: 44px;
                    height: 44px;
                    border-radius: 50%;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #F7F5EF;
                }
            }
            & p{
                font-weight: 600;
            }
        }
    }
    &.style-three{
        display: flex;
        align-items: center;
        & .icon{
            flex: 0 0 auto;
            margin-right: 25px;
            width: 80px;
            height: 80px;
            border-radius: 20px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border: 1px solid $border-color;
            font-size: 40px;
            color: $primary-color;
        }
        & .content{
            & .title{
                margin-bottom: 5px;
                @include respond(md){
                    font-size: 18px;
                }
            }
            & p{
                font-weight: 500;
            }
        }
    }
}

.renvia-feature-item{
    &.style-one{
        & .icon{
            position: relative;
            width: 56px;
            height: 56px;
            border-radius: 50%;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background-color: #F8F8F8;
            margin-bottom: 25px;
            & .sm-icon{
                position: absolute;
                bottom: 0;
                right: 0;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                background-color: $primary-color;
            }
        }
        & .content{
            & h5{
                margin-bottom: 20px;
                border-bottom: 1px solid $border-color;
                padding-bottom: 20px;
            }
        }
    }
    &.style-two{
        background-color: #F8F8F8;
        border-radius: 30px;
        padding: 30px 20px 25px;
        & .icon{
            margin-bottom: 22px;
        }
        & .content{
            & .title{
                font-size: 20px;
                line-height: 30px;
                margin-bottom: 15px;
            }
        }
    }
}

.renvia-feature_one{
    & .renvia-image{
        margin-right: -55px;
        @include respond(xl){
            margin-right: 0;
        }
        & img{
            border-radius: 30px;
        }
    }
    & .renvia-content-box{
        padding-left: 85px;
        @include respond(xl){
            padding-left: 0;
        }
        & > p{
            margin-bottom: 35px;
        }
        & .counter-wrap{
            padding-top: 15px;
            margin-bottom: 40px;
            border-top: 1px solid $border-color;
            border-bottom: 1px solid $border-color;
            @include respond(xxxl){
                margin-bottom: 20px;
            }
            & .renvia-counter-item{
                & .content{
                    & h2{
                        @include respond(md){
                            font-size: 30px;
                        }
                    }
                    & p{
                        font-size: 14px;
                        @include respond(md){
                            font-size: 12px;
                            line-height: 24px;
                        }
                    }
                }
            }
        }
        & .button-check-wrap{
            display: flex;
            align-items: center;
            @include respond(md){
                flex-direction: column;
                align-items: flex-start;
            }
            & .renvia-button{
                margin-right: 30px;
                @include respond(xxxl){
                    margin-right: 10px;
                }
                @include respond(md){
                    margin-bottom: 20px;
                    margin-right: 0;
                }
            }
            & .check-list{
                & li{
                    color: $text-color;
                    &:not(:last-child){
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}

.renvia-feature_two{
    & .renvia-image-box{
        position: relative;
        & .renvia-image{
            & img{
                border-radius: 30px;
            }
        }
        & .renvia-avatar-box{
            position: absolute;
            left: 30px;
            bottom: 30px;
            background-color: $primary-color;
            max-width: 270px;
            width: 100%;
            border-radius: 20px;
            padding: 30px 20px 25px;
            & .avatar-list{
                & ul{
                    & li{
                        & img{
                            width: 40px;
                            height: 40px;
                        }
                        & span{
                            width: 40px;
                            height: 40px;
                        }
                    }
                }
            }
            & .text-wrap{
                display: flex;
                align-items: center;
                margin-top: 15px;
                & .number{
                    font-size: 18px;
                    color: $white-color;
                    margin-right: 10px;
                    font-weight: 700;
                }
                & .text{
                    font-size: 14px;
                    color: $white-color;
                }
            }
        }
    }
}


.renvia-intro_one{
    position: relative;
    z-index: 1;
    padding: 300px 0;
    @include respond(md){
        padding: 180px 0;
    }
    &:after{
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(28, 28, 37, 0.60);
        z-index: -1;
    }
    & .play-button{
        & .video-popup{
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background-color: $white-color;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            color: $primary-color;
            position: relative;
            z-index: 1;
            &:after,
            &:before{
                position: absolute;
                left: 0;
                top: 0;
                content: "";
                border-radius: 50%;
                width: 100%;
                height: 100%;
                z-index: -1;
            }
            &:before{
                background-color: rgba(255, 255, 255, 0.50);
                animation: playpopup infinite ease-in 2s;
            }
            &:after{
                background-color: rgba(255, 255, 255, 0.40);
                animation: playpopup infinite ease-in-out 4s;
            }
            &:hover{
                color: $primary-color;
            }
        }
    }
}

.renvia-choose-sec{
    & .renvia-image{
        & img{
            border-radius: 30px;
        }
    }
    & .renvia-content-box{
        padding-left: 30px;
        @include respond(xl){
            padding-left: 0;
        }
        & > p{
            margin-bottom: 20px;
            font-weight: 600;
        }
        & .check-list{
            & li{
                padding-left: 20px;
                color: $heading-color;
                &:before{
                    top: 7px;
                    width: 12px;
                    height: 12px;
                    margin-right: 15px;
                }
            }
        }
        & .check-counter-wrap{
            display: flex;
            align-items: center;
            @include respond(md){
                flex-direction: column;
                align-items: flex-start;
            }
            & .counter-wrap{
                margin-left: 25px;
                display: flex;
                align-items: center;
                @include respond(md){
                    margin-top: 25px;
                    margin-left: 0;
                }
                & .renvia-counter-item{
                    text-align: center;
                    width: 150px;
                    min-height: 150px;
                    height: auto;
                    margin-left: 0;
                    padding: 20px 12px;
                    border-radius: 12px;
                    background-color: $white-color;
                    border: 1px solid $border-color;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    & .stat-icon{
                        width: 30px;
                        height: 30px;
                        margin: 0 auto 8px;
                        border-radius: 50%;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        color: $white-color;
                        background-color: $primary-color;
                        font-size: 13px;
                    }
                    &:last-child{
                        margin-left: 0;
                    }
                }
            }
        }
    }
}


.renvia-make-sec{
    & .container{
        max-width: 1450px;
    }
    & .make-wrapper{
        position: relative;
        background-color: $primary-black-color;
        max-width: 1450px;
        margin: 0 auto;
        padding: 80px;
        border-radius: 30px;
        @include respond(xl){
            padding: 60px;
        }
        @include respond(md){
            padding: 30px;
        }
        & .shape{
            position: absolute;
            bottom: 40px;
            left: 20%;
            @include respond(md){
                display: none;
            }
        }
    }
    & .choose-arrows{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        margin-top: 50px;
        & .slick-arrow{
            font-size: 16px;
            cursor: pointer;
            font-weight: 600;
            color: $white-color;
            transition: all .3s;
            &:hover{
                color: $primary-color;
            }
        }
        & .progress-wrap{
            width: 70%;
            height: 1px;
            background-color: $border-color;
            border-radius: 3px;
            overflow: hidden;
        }
    }
}

.choose-slider{
    margin-left: -15px;
    margin-right: -15px;
    & .slick-slide{
        margin-left: 15px;
        margin-right: 15px;
    }
}

.renvia-choose-box{
    text-align: center;
    border: 1px solid $white-color;
    padding: 40px;
    border-radius: 20px;
    transition: all .3s;
    &:hover{
        border-color: $primary-color;
    }
    & .icon{
        width: 80px;
        height: 80px;
        border-radius: 20px;
        border:1px solid $border-color;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
    & .content{
        & h5{
            color: $white-color;
            margin-bottom: 15px;
            font-size: 20px;
        }
        & p{
            font-weight: 700;
            color: $white-color;
        }
    }
}

/* Awards section CSS */

.renvia-award-item{
    &.style-one{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid $border-color;
        @include respond(lg){
            flex-direction: column;
            text-align: center;
        }
        &:first-child{
            border-top: 1px solid $border-color;  
            padding-top: 30px;
        }
        & .award-title{
            width: 250px;
            @include respond(lg){
                width: auto;
            }
            & h3{
                font-size: 30px;
                line-height: 40px;
                @include respond(md){
                    font-size: 20px;
                }
            }
        }
        & .award-info{
            flex-grow: 1;
            max-width: 450px;
            @include respond(xl){
                padding: 0 20px;
            }
            @include respond(lg){
                padding: 20px 30px;
            }
            & p{
                max-width: 440px;
            }
        }
        & .award-thumb-year{
            display: flex;
            align-items: center;
            & .award-thumb{
                display: flex;
                align-items: center;
                padding-right: 50px;
                border-right: 1px solid $border-color;
                margin-right: 50px;
            }
        }
    }
    &.style-two{
        padding: 40px 40px 0;
        & .icon{
            margin-bottom: 15px;
        }
        & .content{
            & .title{
                font-size: $h4-font;
                margin-bottom: 10px;
                @include respond(lg){
                    font-size: 22px;
                }
            }
        }
    }
}


.renvia-awards_one{
    background-color: $gray-color;
    & .text-box{
        max-width: 440px;
        @include respond(lg){
            margin: 0 auto 40px;
        }
    }
}

.renvia-award_two{
    padding-bottom: 120px;
    @include respond(lg){
        padding-bottom: 80px;
    }
    & .award-wrapper{
        border-top: 1px solid $border-color;
        @include respond(xl){
            border-top: none;
        }
        & .item-border{
            &:not(:last-child){
                border-right: 1px solid $border-color;
                @include respond(xl){
                    border-right: none;
                }
            }
            @include respond(xl){
                & .renvia-award-item{
                    border: 1px solid $border-color;
                    padding: 40px 30px;
                    border-radius: 30px;
                    margin-bottom: 40px;
                }
            }
        }
    }
}